.red{
    background-color: #ffffaf;
}

.cuerpo{
    padding-left:5%;
    padding-right:5%;
}

.datos{
     background-color:#BBBBBB;
     padding: 5px;
     margin: 5%;
     height: 100%,
}

.cajasdatos{
    background-color:#BBBBBB;
    margin-top: 10px;
    padding: 5px;
}


.texto_intro{
    color: #555555;
    font-size: 12px;
    float: inherit;
}

.logo{
    background-image: url("untref_logo.jpg");
    width: 396px;
    height: 61px;
    background-repeat: no-repeat;
    float: right;
}